body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  zoom: auto;
}

header {
  background-color: #163962;
  color: #fff;
  padding: 10px;
  text-align: center;
}
nav {
  background-color: #ffed00;
  bottom-padding: 2px;
}


label {
  font-size: 16px;
  margin-right: 10px;
}



main {
  padding: 20px;
}

footer {
  background-color: #e20025;
  color: #fff;
  padding: 10px;
  text-align: center;
}





  main {
      font-size: 16px;
  }

  footer {
      font-size: 14px;
  }

button {
  cursor: pointer;
  border: 2.3px solid green;
  border-radius: 8px;
  background-color: #39A642;
  width: 92px;
  height: 42px;
  color: white;
  font-size: 14px;
}


@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
}

img {
    max-width: 100%;
    height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
